@font-face {
  font-family: 'Open Sans';
  src: url('../../font/OpenSans-Light-webfont.eot');
  src: url('../../font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../../font/OpenSans-Light-webfont.woff') format('woff'), url('../../font/OpenSans-Light-webfont.ttf') format('truetype'), url('../../font/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../../font/OpenSans-Regular-webfont.eot');
  src: url('../../font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../font/OpenSans-Regular-webfont.woff') format('woff'), url('../../font/OpenSans-Regular-webfont.ttf') format('truetype'), url('../../font/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-weight: 400;
  font-style: normal;
}
.force-wrap {
  word-wrap: break-word;
  word-break: break-all;
  -ms-word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}
.type-light {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.list-items .list-item {
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  height: 3rem;
  width: 100%;
}
.list-items .list-item .checkbox {
  flex: 0, 0, 44px;
  cursor: pointer;
}
.list-items .list-item input[type="text"] {
  flex: 1;
}
.list-items .list-item .delete-item {
  flex: 0, 0, 3rem;
}
.list-items .list-item input[type="text"] {
  background: transparent;
  cursor: pointer;
}
.list-items .list-item input[type="text"]:focus {
  cursor: text;
}
.list-items .list-item .delete-item {
  color: #ccc;
  line-height: 3rem;
  text-align: center;
}
.list-items .list-item .delete-item:hover {
  color: #2cc5d2;
}
.list-items .list-item .delete-item:active {
  color: #555;
}
.list-items .list-item .delete-item .icon-trash {
  font-size: 1.1em;
}
.list-items .list-item + .list-item {
  border-top: 1px solid #f0f9fb;
}
.list-items .list-item.checked input[type="text"] {
  color: #ccc;
  text-decoration: line-through;
}
.list-items .list-item.checked .delete-item {
  display: inline-block;
}
.list-items .list-item .delete-item {
  display: none;
}
.list-items .list-item.editing .delete-item {
  display: inline-block;
}
