@font-face {
  font-family: 'Open Sans';
  src: url('../../font/OpenSans-Light-webfont.eot');
  src: url('../../font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../../font/OpenSans-Light-webfont.woff') format('woff'), url('../../font/OpenSans-Light-webfont.ttf') format('truetype'), url('../../font/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../../font/OpenSans-Regular-webfont.eot');
  src: url('../../font/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../../font/OpenSans-Regular-webfont.woff') format('woff'), url('../../font/OpenSans-Regular-webfont.ttf') format('truetype'), url('../../font/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-weight: 400;
  font-style: normal;
}
.force-wrap {
  word-wrap: break-word;
  word-break: break-all;
  -ms-word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}
.type-light {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}
#menu {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
#menu .language-toggle {
  text-align: center;
  margin-top: 1em;
  font-size: .8rem;
}
#menu .language-toggle .active {
  border-bottom: 1px solid;
  padding-bottom: 1px;
  color: #5db9ff;
}
#menu .btns-group,
#menu .btns-group-vertical {
  margin: 1em auto 2em;
  width: 80%;
}
#menu .btns-group .btn-secondary,
#menu .btns-group-vertical .btn-secondary {
  font-size: 12px;
  line-height: 16px;
  padding-top: .5em;
  padding-bottom: .5em;
}
#menu .btns-group-vertical .btn-secondary {
  word-wrap: break-word;
  word-break: break-all;
  -ms-word-break: break-all;
  word-break: break-word;
  hyphens: auto;
  padding-right: 2.5em;
  text-align: left;
  text-indent: 0;
  white-space: normal;
  width: 100%;
}
#menu .btns-group-vertical .btn-secondary + .btn-secondary {
  margin-top: .5rem;
}
#menu .btns-group-vertical .btn-secondary + .btn-secondary:before {
  position: absolute;
  top: -0.5rem;
  right: 50%;
  bottom: auto;
  left: auto;
  width: 1px;
  height: 0.5rem;
  background: #5a7ca6;
  content: '';
}
#menu .btns-group-vertical .btn-secondary [class^="icon-"],
#menu .btns-group-vertical .btn-secondary [class*=" icon-"] {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  bottom: auto;
  left: auto;
  width: auto;
  height: auto;
  line-height: 20px;
}
#menu .list-todos a {
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 0;
  display: block;
  line-height: 1.5em;
  padding: .75em 2.5em;
  position: relative;
  text-decoration: none;
  text-align: left;
  overflow-x: hidden;
}
#menu .list-todos .link-list-new {
  text-align: left;
  color: #5db9ff;
  cursor: pointer;
}
#menu .list-todos .count-list {
  transition: all 200ms ease-in;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1em;
  float: right;
  font-size: .7rem;
  line-height: 1;
  margin-top: .25rem;
  margin-right: -1.5em;
  padding: .3em .5em;
}
#menu .list-todos [class^="icon-"],
#menu .list-todos [class*=" icon-"] {
  font-size: 14px;
  line-height: 20px;
  float: left;
  margin-left: -1.5rem;
  margin-right: .5rem;
  margin-top: .1rem;
  width: 1em;
}
#menu .list-todos .icon-lock {
  font-size: 12px;
  line-height: 16px;
  margin-top: .2rem;
  opacity: .8;
}
#menu .list-todos .list-todo {
  color: rgba(255, 255, 255, 0.4);
}
#menu .list-todos .list-todo:hover,
#menu .list-todos .list-todo:active,
#menu .list-todos .list-todo.active {
  color: white;
}
#menu .list-todos .list-todo:hover .count-list,
#menu .list-todos .list-todo:active .count-list,
#menu .list-todos .list-todo.active .count-list {
  background: #2cc5d2;
}
.cordova #menu .list-todos .list-todo:hover {
  color: rgba(255, 255, 255, 0.4);
}
